@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&display=swap");

* {
  outline: 0;
  border: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  background-color: #111;
  color: #fff;
}

body {
  max-width: 660px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-bottom: 12px;
  text-align: center;
}

button {
  cursor: pointer;
  width: 100px;
  height: 45px;
  border-radius: 10px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 600;
}

.heading {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: -8px;
}

.subheading {
  font-size: 18px;
}

.about-box {
  margin-top: 32px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.8px;
  padding: 0px 16px;
}

.pill {
  padding: 8px;
  background-color: #f55;
  border-radius: 4px;
  margin: 0px 4px;
}

.box-id {
  height: 50px;
  width: 90%;
  border-radius: 8px;
  background-color: #f55;
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  text-align: center;
  padding: 8px 12px;
  margin-bottom: 16px;
}
